body {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.todo-card {
    width: 750px;
    border: 1px solid black;
    margin: 25px 28%;
    padding:  0 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 218, 225);
     color:rgb(75, 3, 34);
}
.heading {
    text-align: center;
    margin-top: 40px;
    color:rgb(75, 3, 34);
}
.header {
     text-align: center;
     margin-top: 20px;
     color:rgb(75, 3, 34);
     font-size: large;
}
.edit-icon {
    height: 20px;
    cursor: pointer;
    margin-right: 20px;
}
.delete-icon {
    height: 20px;
    cursor: pointer;
}
.todo-container {
    margin-top: 30px;
    height:400px;
    overflow-y: scroll;
}
.todo-item-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;

}
.input-todo {
    font-size: 20px;
    padding: 5px ;
    margin-right: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;

}
.btn-add-todo {
    font-size: 20px;
    padding: 5px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;

}