
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.heading {
    text-align: center;
    margin-top: 40px;
    color: rgb(75, 3, 34);
}

.header {
    text-align: center;
    margin-top: 10px;
    color: rgb(75, 3, 34);
    font-size: 18px;
}

.todo-card {
    width: 90%;
    max-width: 750px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 218, 225);
    color: rgb(75, 3, 34);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.edit-icon,
.delete-icon {
    height: 20px;
    cursor: pointer;
    margin-left: 15px;
    transition: transform 0.2s ease;
}

.edit-icon:hover,
.delete-icon:hover {
    transform: scale(1.2);
}

.todo-container {
    margin: 30px auto 100px auto;
    max-width: 800px;
    height: 400px;
    overflow-y: auto;
    padding: 0 10px;
}

.todo-item-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-todo {
    font-size: 18px;
    padding: 8px;
    margin-right: 10px;
    width: 60%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid black;
}


.btn-add-todo {
    font-size: 18px;
    padding: 8px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background 0.3s ease;
}

.btn-add-todo:hover {
    background-color: rgb(75, 3, 34);
}